<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="shade-box-m">
        <h1 id="homeHeading">Boston Jazz Gigs</h1>
        <hr>
        <h2 class="text-ml margin-bottom-1rem">Find and book greater Boston's best Jazz musicians for your next event!</h2>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Let's get started!</a>
      </div>
    </div>
  </div>
</header>
<%= render partial: 'static_pages/info_modal' %>
<aside class="bg-primary" id="about">
  <div class="container text-center">
    <div class="call-to-action padding-top-1rem">
      <h2 class="text-color-white section-title-text1"><a data-toggle="modal" data-target="#myModal" title="Find out more!">Our mission is to make it easy to connect top local jazz artists and event planners!</a></h2>
      <button class="btn btn-primary btn-lg margin-top-2rem bg-blue" data-toggle="modal" data-target="#myModal" title="Find out more!">Click here to learn more</button>
    </div>
  </div>
</aside>

<section class="panel-tall">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 text-center sr-contact">
        <h2 class="section-heading">Are you a musician looking for gigs or an event planner trying to find a band?</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 col-sm-12 text-center sr-button">
        <a href=<%= musician_requests_new_url %>>
          <h3>I'm a jazz musician looking for gigs!</h3>
          <div class="portfolio-box selection-box band-select-bg">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Join our musician network
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col col-md-6 col-sm-12 text-center sr-button">
        <a href=<%= band_requests_new_url %>>
          <h3>Help me find an awesome jazz band!</h3>
          <div class="portfolio-box selection-box musician-select-bg">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Submit a band request
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end grid container -->
</section>

<aside class="bg-dark" id="testimonials">
  <div class="container text-center">
    <div class="call-to-action">
      <br>
      <h2 class="title text-center section-title-text2">Don't take our word for it!</h2>
    </div>
  </div>
</aside>
<!-- ******Testimonials Section****** -->
<section class="section testimonials">
  <div class="container">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#testimonials-carousel" data-slide-to="1"></li>
        <li data-target="#testimonials-carousel" data-slide-to="2"></li>
      </ol>
      <!--//carousel-indicators-->
      <div class="carousel-inner">
        <div class="item active">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/hayley.jpg") %> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                David put together an outstanding trio at a reasonable price for our new gallery opening.

                The guests loved the band, and I would definitely work with him again!
              </p>
            </blockquote>
            <p class="source">Hayley Didriksen<br/>
              <span class="title">Senior Visionary @ HDStudios</span>
            </p>
              <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
        <div class="item">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/drew.jpg")%> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                Boston Jazz Gigs saved my third marriage - unbelievable service with style!
                <br>
                &nbsp
              </p>
            </blockquote>
            <p class="source">Drew 'Pito' Didriksen<br/>
              <span class="title">CEO, Pito's Pitas</span>
            </p>
            <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
        <div class="item">
          <figure class="profile"><img class="img-circle" src=<%= asset_path("testimonials/deej.jpg") %> alt=""/></figure>
          <div class="content">
            <blockquote>
              <i class="fa fa-quote-left"></i>
              <p>
                OMG YES!
                <br>
                &nbsp
              </p>
            </blockquote>
            <p class="source">Djaniele Taylor<br/>
              <span class="title">VIP, Chuck E. Cheese's</span>
            </p>
            <br>
          </div>
          <!--//content-->
        </div>
        <!--//item-->
      </div>
      <!--//carousel-inner-->

    </div>
    <!--//carousel-->
  </div>
  <!--//container-->
</section>
<!--//testimonials-->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">
          Have questions about Boston Jazz Gigs? Get in touch!</h2>
        <hr class="primary">
        <p>Send us a message with any questions, concerns, or comments and we'll get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= form_for @request, html: {id: "contactForm", name: "sentMessage"} do |f| %>
            <div class="row control-group">
              <div class="form-group col-12 floating-label-form-group controls">
                <%= f.label :name %>
                <%= f.text_field :name, placeholder: "Name", class: "form-control", required: true%>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-12 floating-label-form-group controls">
                <%= f.label :email %>
                <%= f.email_field :email, placeholder: "Email address", class: "form-control", required: true%>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-12 floating-label-form-group controls">
                <%= f.label :phone %>
                <%= f.text_field :phone, placeholder: "Telephone number", class: "form-control" %>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-12 floating-label-form-group controls">
                <%= f.label :message %>
                <%= f.text_area :message, placeholder: "Message", rows: "5", cols: "32", class: "form-control", required: true%>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <%= hidden_field_tag :start_t, Time.now %>
                <%= f.submit "Send Message", class: "btn btn-block btn-lg btn-primary top-margin-10"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
