<h1 style="text-align: center;">Question from Boston Jazz Gigs</h1>
<hr>
<div><h3>You have received a new general inquiry from the Boston Jazz Gigs home page.<h3></div>
<ul style="line-height:20px;padding-left:15px;">
  <li><strong>From:</strong> <%= @request.name %></li>
  <li><strong>Email:</strong> <%= @request.email %></li>
  <li><strong>Phone:</strong> <%= @request.phone %></li>
  <li><strong>Time Sent:</strong> <%= Time.now.strftime("%b%e, %Y  %I:%M:%S %p") %>
  <li><strong>Message:</strong> <%= @request.message %></li>
</ul>
<br>
With love,
<br>
The Boston Jazz Gigs Email Robots
<br><br>
