<div class="headline-bg">

  <!-- ******Contact Section****** -->
  <section class="contact-section section section-on-bg">
    <div class="container-fluid">

      <%= form_for @musician_request, html: {class: "contact-form"} do |f| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="light-hover-shadow request-form-wrapper">
            <div class="orange-backdrop contact-form-header">
              <h2 class="title text-center">Request to Join Musician Network</h2>
            </div>
            <div class="contact-form-inner">
              <div class="text-center text-medium text-color-blue">Tell us about your musical skills and experiences so that we can see if you'd be a good fit for our clients.</div>
              <br>
              <div class="margin-bottom-10px text-color-reqd"><small>* indicates a required field</small></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :first do %>
                      First Name<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_field :first, placeholder: "Enter first name", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :last do %>
                      Last Name<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_field :last, placeholder: "Enter last name", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :email do %>
                      E-mail Address<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.email_field :email, placeholder: "Enter e-mail address", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :phone, "Phone Number" %>
                    <%= f.text_field :phone, placeholder: "Enter telephone number", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :address, "Street Address" %>
                    <%= f.text_field :address, placeholder: "We only use this info to make gig referrals within your travel radius", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="field form-group">
                    <%= f.label :city do %>
                      City<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_field :city, placeholder: "City", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="field form-group">
                    <%= f.label :state do %>
                      State<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_field :state, placeholder: "MA", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="field form-group">
                    <%= f.label :travel_radius, "Travel Radius (miles)" %>
                    <%= f.number_field :travel_radius, placeholder: "How far will you travel for a gig?", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :primary_instrument do %>
                      Primary Instrument <span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_field :primary_instrument, placeholder: "What is your primary instrument?", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="field form-group">
                    <%= f.label :secondary_instrument, "Secondary Instrument" %>
                    <%= f.text_field :secondary_instrument, placeholder: "What is your secondary instrument?", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :experience do %>
                    Experience<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_area :experience, cols:"32", rows:"4", placeholder: "Briefly describe your experience givings live jazz performances.", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :availability do %>
                      Availability<span class="text-color-reqd">*</span>
                    <% end %>
                    <%= f.text_area :availability, cols:"32", rows:"4", placeholder: "When are you available during a typical week?", class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :additional_info, "Additional Info" %>
                    <%= f.text_area :additional_info, cols:"32", rows:"4", placeholder: "Feel free to share anything else that might help us to get to know you as a musician and performer!", class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <%= hidden_field_tag :start_t, Time.now %>
                  <%= f.submit "Send Band Request", class: "btn btn-block btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <!--//contact-form-->
      </div>
      <!--//container-->
      <%= render partial: 'shared/question_comment_box' %>

    </section>
    <!--//contact-section-->
  </div>


  <script>
  $( function() {
   $("#band_request_date").datepicker();
   $("#band_request_time").timepicker();
  });
 </script>
